AZURE_CLIENT_SECRET=
DATABASE_URL=postgresql+psycopg://usuario:senha@localhost:5433/urbi_gipe
DATABASE_SCHEMA=gadm
AUTO_CREATE_DATABASE_OBJECTS=false
DEV_AUTH_BYPASS=false

GCP_CREDENTIALS_PATH=
GCP_BIGQUERY_ENABLED=false
BIGQUERY_TABLE_SN1=gcp-urbi-proj-operacao.silver.URBI_SN1
BIGQUERY_TABLE_SN3=gcp-urbi-proj-operacao.silver.URBI_SN3
BIGQUERY_TABLE_SB1=gcp-urbi-proj-manutencao.raw.SB1
BIGQUERY_TABLE_FUNCIONARIOS=gcp-urbi-proj-operacao.security.funcionarios
BIGQUERY_TABLE_CTT=gcp-urbi-proj-manutencao.raw.CTT
BIGQUERY_QUERY_TIMEOUT_SECONDS=15
